
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>flaskr &mdash; Flask Handson 1 documentation</title>
    
    <link rel="stylesheet" href="static/nature.css" type="text/css" />
    <link rel="stylesheet" href="static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '',
        VERSION:     '1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" src="static/underscore.js"></script>
    <script type="text/javascript" src="static/doctools.js"></script>
    <link rel="top" title="Flask Handson 1 documentation" href="index.html" />
    <link rel="next" title="Flask を使いこなそう" href="advanced.html" />
    <link rel="prev" title="Flask を始めよう" href="start.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="advanced.html" title="Flask を使いこなそう"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="start.html" title="Flask を始めよう"
             accesskey="P">previous</a> |</li>
        <li><a href="index.html">Flask Handson 1 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="flaskr">
<h1>flaskr<a class="headerlink" href="#flaskr" title="Permalink to this headline">¶</a></h1>
<p>公式の Flask のチュートリアルにある flaskr というミニブログを写経していきます。</p>
<p>公式のチュートリアルでは SQLite を直接使っていましたが、
今回は SQLAlchemy という O/R マッパーを使っていきます。</p>
<p>SQLAlchemy は Python の O/R マッパーの中では最も強力なものですが、
簡単な使い方もできるようになっています。</p>
<div class="section" id="step-0">
<h2>Step 0: 準備<a class="headerlink" href="#step-0" title="Permalink to this headline">¶</a></h2>
<div class="section" id="id1">
<h3>インストール<a class="headerlink" href="#id1" title="Permalink to this headline">¶</a></h3>
<p>Flask-SQLAlchemy という Flask 拡張をインストールします。</p>
<div class="highlight-python"><pre>$ pip install Flask-SQLAlchemy</pre>
</div>
</div>
<div class="section" id="id2">
<h3>ディレクトリ構成<a class="headerlink" href="#id2" title="Permalink to this headline">¶</a></h3>
<p>Hello, World プログラムでは1ファイルで完結していましたが、今回は少しファイルを分けて、
本格的な構成にしていきます。</p>
<p>まず、適当なディレクトリの中に次のようにファイルとディレクトリを作っていきます:</p>
<div class="highlight-python"><pre>run.py
flaskr/
    __init__.py
    config.py
    views.py
    models.py
    templates/
    static/</pre>
</div>
<div class="section" id="run-py">
<h4>run.py<a class="headerlink" href="#run-py" title="Permalink to this headline">¶</a></h4>
<p>デバッグモードでアプリケーションを起動するだけのスクリプトです。
(<a class="reference external" href="src/flaskr/run.py">ダウンロード</a>)</p>
<div class="highlight-python"><div class="highlight"><pre><span class="c">#!/usr/bin/env python</span>
<span class="kn">from</span> <span class="nn">flaskr</span> <span class="kn">import</span> <span class="n">app</span>
<span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="flaskr-init-py">
<h4>flaskr/__init__.py<a class="headerlink" href="#flaskr-init-py" title="Permalink to this headline">¶</a></h4>
<p>Python では <cite>__init__.py</cite> というファイルを含むディレクトリがパッケージになります。
パッケージとは、子モジュールを持てるモジュールです。
この場合 <cite>flaskr/__init__.py</cite> は <cite>flaskr</cite> というパッケージになり、
<cite>flaskr/config.py</cite> は <cite>flaskr.config</cite> モジュールになります。</p>
<p><cite>flaskr/__init__.py</cite> は <cite>app</cite> オブジェクトの生成とプラグインのセットアップをし、
最後に <cite>views</cite> を読み込みます。
(<a class="reference external" href="src/flaskr/flaskr/__init__.py">ダウンロード</a>)</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">Flask</span>
<span class="kn">from</span> <span class="nn">flask.ext.sqlalchemy</span> <span class="kn">import</span> <span class="n">SQLAlchemy</span>

<span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="n">__name__</span><span class="p">)</span>
<span class="n">app</span><span class="o">.</span><span class="n">config</span><span class="o">.</span><span class="n">from_object</span><span class="p">(</span><span class="s">&#39;flaskr.config&#39;</span><span class="p">)</span>
<span class="n">db</span> <span class="o">=</span> <span class="n">SQLAlchemy</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>

<span class="kn">import</span> <span class="nn">flaskr.views</span>
</pre></div>
</div>
</div>
<div class="section" id="flaskr-config-py">
<h4>flaskr/config.py<a class="headerlink" href="#flaskr-config-py" title="Permalink to this headline">¶</a></h4>
<p><cite>flaskr/config.py</cite> には設定を書いていきます。</p>
<p><cite>SQLALCHEMY_DATABASE_URI</cite> は SQLAlchemy 用の設定で、
&#8220;ドライバ名://ホスト名/db名?オプション=値&#8221; という URI 形式で利用するデータベースを指定します。
今回は sqlite を使うので、ドライバ名は sqlite, ホスト名は空、db名はファイル名になります。</p>
<p><cite>SECRET_KEY</cite> は、セッション情報を暗号化するための鍵です。
Flask はデフォルトではセッション情報を全て Cookie に保存するので、改ざん対策のために暗号化しています。
(<a class="reference external" href="src/flaskr/flaskr/config.py">ダウンロード</a>)</p>
<div class="highlight-python"><div class="highlight"><pre><span class="n">SQLALCHEMY_DATABASE_URI</span> <span class="o">=</span> <span class="s">&#39;sqlite:///flaskr.db&#39;</span>
<span class="n">SECRET_KEY</span><span class="o">=</span><span class="s">&quot;secret key&quot;</span>
</pre></div>
</div>
</div>
<div class="section" id="id6">
<h4>その他<a class="headerlink" href="#id6" title="Permalink to this headline">¶</a></h4>
<p>flaskr/views.py と flaskr/models.py はこれから実装していくので、
いまは空にしておいてください。 views にはアクションを、 models には
モデルを書いていきます。</p>
<p>templates にはテンプレートファイルを、
static には CSS などの静的ファイルを格納していきます。</p>
</div>
</div>
</div>
<div class="section" id="step-1-model">
<h2>Step 1: model<a class="headerlink" href="#step-1-model" title="Permalink to this headline">¶</a></h2>
<p>スキーマを定義するだけのモデルクラスを作ります。</p>
<p>flaskr/models.py (<a class="reference external" href="src/flaskr/flaskr/models.py">ダウンロード</a>):</p>
<div class="highlight-python"><div class="highlight"><pre><span class="c"># coding: utf-8</span>
<span class="kn">from</span> <span class="nn">flaskr</span> <span class="kn">import</span> <span class="n">db</span>
<span class="kn">from</span> <span class="nn">sqlalchemy</span> <span class="kn">import</span> <span class="o">*</span>


<span class="k">class</span> <span class="nc">Entry</span><span class="p">(</span><span class="n">db</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
    <span class="s">u&quot;ブログエントリ&quot;</span>
    <span class="nb">id</span> <span class="o">=</span> <span class="n">Column</span><span class="p">(</span><span class="n">Integer</span><span class="p">,</span> <span class="n">primary_key</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
    <span class="n">title</span> <span class="o">=</span> <span class="n">Column</span><span class="p">(</span><span class="n">Text</span><span class="p">)</span>
    <span class="n">text</span> <span class="o">=</span> <span class="n">Column</span><span class="p">(</span><span class="n">Text</span><span class="p">)</span>

    <span class="k">def</span> <span class="nf">__repr__</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="s">&quot;&lt;Entry id={} title=&#39;{}&#39;&gt;&quot;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">id</span><span class="p">,</span> <span class="bp">self</span><span class="o">.</span><span class="n">title</span><span class="p">)</span>


<span class="k">def</span> <span class="nf">init</span><span class="p">():</span>
    <span class="n">db</span><span class="o">.</span><span class="n">create_all</span><span class="p">()</span>
</pre></div>
</div>
<p>実際にデータベースとテーブルを作ります:</p>
<div class="highlight-python"><pre>python -c "import flaskr.models; flaskr.models.init()"</pre>
</div>
<p>インタラクティブシェルでモデルを触って見ましょう.
SQLAlchemy は Unit of Work というスタイルの O/R マッパーで、取得したエンティティは自動的に「セッション」に紐づけられます。
エンティティを操作したあとに <cite>db.session.commit()</cite> することで、変更がDBに反映されます。
新規にエンティティを作成する場合は、 <cite>db.session.add(entity)</cite> でセッションに紐づけます。</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">flaskr.models</span> <span class="kn">import</span> <span class="n">Entry</span>
<span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">flaskr</span> <span class="kn">import</span> <span class="n">db</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">entry</span> <span class="o">=</span> <span class="n">Entry</span><span class="p">(</span><span class="n">title</span><span class="o">=</span><span class="s">&quot;title1&quot;</span><span class="p">,</span> <span class="n">text</span><span class="o">=</span><span class="s">&quot;text1&quot;</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span> <span class="mi">5</span><span class="p">):</span>
<span class="gp">... </span>    <span class="n">entry</span> <span class="o">=</span> <span class="n">Entry</span><span class="p">(</span><span class="n">title</span><span class="o">=</span><span class="s">&#39;title&#39;</span> <span class="o">+</span> <span class="nb">str</span><span class="p">(</span><span class="n">i</span><span class="p">),</span> <span class="n">text</span><span class="o">=</span><span class="s">&#39;text&#39;</span> <span class="o">+</span> <span class="nb">str</span><span class="p">(</span><span class="n">i</span><span class="p">))</span>
<span class="gp">... </span>    <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
<span class="gp">...</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">entries</span> <span class="o">=</span> <span class="n">Entry</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">all</span><span class="p">()</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">entries</span>
<span class="go">[&lt;Entry id=1 title=&#39;title1&#39;&gt;, &lt;Entry id=2 title=&#39;title2&#39;&gt;, &lt;Entry id=3 title=&#39;title3&#39;&gt;, &lt;Entry id=4 title=&#39;title4&#39;&gt;]</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">entries</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span><span class="o">.</span><span class="n">id</span>
<span class="go">1</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">entries</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span><span class="o">.</span><span class="n">text</span>
<span class="go">u&#39;text1&#39;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">Entry</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span>
<span class="go">&lt;Entry id=3 title=&#39;title3&#39;&gt;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">Entry</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">filter_by</span><span class="p">(</span><span class="n">title</span><span class="o">=</span><span class="s">&#39;title2&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">one</span><span class="p">()</span>
<span class="go">&lt;Entry id=2 title=&#39;title2&#39;&gt;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">entry</span> <span class="o">=</span> <span class="n">_</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">entry</span><span class="o">.</span><span class="n">text</span>
<span class="go">u&#39;text2&#39;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">entry</span><span class="o">.</span><span class="n">text</span> <span class="o">=</span> <span class="s">&quot;fizz buzz&quot;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">Entry</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">filter_by</span><span class="p">(</span><span class="n">title</span><span class="o">=</span><span class="s">&#39;title2&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">one</span><span class="p">()</span><span class="o">.</span><span class="n">text</span>
<span class="go">u&#39;fizz buzz&#39;</span>
</pre></div>
</div>
</div>
<div class="section" id="step-2-view">
<h2>Step 2: view<a class="headerlink" href="#step-2-view" title="Permalink to this headline">¶</a></h2>
<p>Blog エントリの一覧と投稿ができるように、 flaskr/views.py を実装していきます。</p>
<p>flaskr/views.py (<a class="reference external" href="src/flaskr/flaskr/views.py">ダウンロード</a>):</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">import</span> <span class="nn">flask</span>
<span class="kn">from</span> <span class="nn">flaskr</span> <span class="kn">import</span> <span class="n">app</span><span class="p">,</span> <span class="n">db</span>
<span class="kn">from</span> <span class="nn">flaskr.models</span> <span class="kn">import</span> <span class="n">Entry</span>


<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">show_entries</span><span class="p">():</span>
    <span class="n">entries</span> <span class="o">=</span> <span class="n">Entry</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">order_by</span><span class="p">(</span><span class="s">&quot;id desc&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">limit</span><span class="p">(</span><span class="mi">10</span><span class="p">)</span><span class="o">.</span><span class="n">all</span><span class="p">()</span>
    <span class="k">return</span> <span class="n">flask</span><span class="o">.</span><span class="n">render_template</span><span class="p">(</span><span class="s">&#39;show_entries.html&#39;</span><span class="p">,</span>
                                 <span class="n">entries</span><span class="o">=</span><span class="n">entries</span><span class="p">)</span>


<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/add&#39;</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s">&#39;POST&#39;</span><span class="p">])</span>
<span class="k">def</span> <span class="nf">add_entry</span><span class="p">():</span>
    <span class="n">entry</span> <span class="o">=</span> <span class="n">Entry</span><span class="p">(</span>
            <span class="n">title</span><span class="o">=</span><span class="n">flask</span><span class="o">.</span><span class="n">request</span><span class="o">.</span><span class="n">form</span><span class="p">[</span><span class="s">&#39;title&#39;</span><span class="p">],</span>
            <span class="n">text</span> <span class="o">=</span><span class="n">flask</span><span class="o">.</span><span class="n">request</span><span class="o">.</span><span class="n">form</span><span class="p">[</span><span class="s">&#39;text&#39;</span><span class="p">],</span>
            <span class="p">)</span>
    <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
    <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>
    <span class="n">flask</span><span class="o">.</span><span class="n">flash</span><span class="p">(</span><span class="s">&#39;New entry was successfully posted&#39;</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">flask</span><span class="o">.</span><span class="n">redirect</span><span class="p">(</span><span class="n">flask</span><span class="o">.</span><span class="n">url_for</span><span class="p">(</span><span class="s">&#39;show_entries&#39;</span><span class="p">))</span>
</pre></div>
</div>
</div>
<div class="section" id="step-3-css">
<h2>Step 3: テンプレートとCSSを用意する<a class="headerlink" href="#step-3-css" title="Permalink to this headline">¶</a></h2>
<p>flaskr/templates/show_entries.html
(<a class="reference external" href="src/flaskr/flaskr/templates/show_entries.html">ダウンロード</a>):</p>
<div class="highlight-python"><pre>&lt;!doctype html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Flaskr&lt;/title&gt;
    &lt;link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class=page&gt;
      &lt;h1&gt;Flaskr&lt;/h1&gt;
      {% for message in get_flashed_messages() %}
        &lt;div class=flash&gt;{{ message }}&lt;/div&gt;
      {% endfor %}
      &lt;form action="{{ url_for('add_entry') }}" method=post class=add-entry&gt;
        &lt;dl&gt;
          &lt;dt&gt;Title:
          &lt;dd&gt;&lt;input type=text size=30 name=title&gt;
          &lt;dt&gt;Text:
          &lt;dd&gt;&lt;textarea name=text rows=5 cols=40&gt;&lt;/textarea&gt;
          &lt;dd&gt;&lt;input type=submit value=Share&gt;
        &lt;/dl&gt;
      &lt;/form&gt;
      &lt;ul class=entries&gt;
      {% for entry in entries %}
        &lt;li&gt;&lt;h2&gt;{{ entry.title }}&lt;/h2&gt;{{ entry.text }}
      {% else %}
        &lt;li&gt;&lt;em&gt;Unbelievable.  No entries here so far&lt;/em&gt;
      {% endfor %}
      &lt;/ul&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
</div>
<p>CSS も用意しましょう.</p>
<p>flaskr/static/style.css
(<a class="reference external" href="src/flaskr/flaskr/static/style.css">ダウンロード</a>):</p>
<div class="highlight-python"><pre>body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
</pre>
</div>
<p>これでひとまず完成です。</p>
<div class="highlight-python"><pre>$ python run.py</pre>
</div>
<p>で実行して、ブラウザで動いていることを確認してみましょう。</p>
</div>
<div class="section" id="step-4">
<h2>Step 4: テスト<a class="headerlink" href="#step-4" title="Permalink to this headline">¶</a></h2>
<div class="section" id="id11">
<h3>インタラクティブシェル<a class="headerlink" href="#id11" title="Permalink to this headline">¶</a></h3>
<p>まずはインタラクティブシェルからリクエストを実行してみましょう.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">flaskr</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">client</span> <span class="o">=</span> <span class="n">flaskr</span><span class="o">.</span><span class="n">app</span><span class="o">.</span><span class="n">test_client</span><span class="p">()</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">response</span> <span class="o">=</span> <span class="n">client</span><span class="o">.</span><span class="n">post</span><span class="p">(</span><span class="s">&#39;/add&#39;</span><span class="p">,</span> <span class="n">data</span><span class="o">=</span><span class="p">{</span><span class="s">&#39;title&#39;</span><span class="p">:</span> <span class="s">&#39;test title 1&#39;</span><span class="p">,</span> <span class="s">&#39;text&#39;</span><span class="p">:</span> <span class="s">&#39;test text 1&#39;</span><span class="p">},</span> <span class="n">follow_redirects</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">response</span><span class="o">.</span><span class="n">status_code</span>
<span class="go">200</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">response</span><span class="o">.</span><span class="n">status</span>
<span class="go">&#39;200 OK&#39;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span> <span class="n">response</span><span class="o">.</span><span class="n">data</span>
<span class="go">&lt;!doctype html&gt;</span>
<span class="go">&lt;html&gt;</span>
<span class="go">&lt;head&gt;</span>
<span class="go">    &lt;title&gt;Flaskr&lt;/title&gt;</span>
<span class="go">    &lt;link rel=stylesheet type=text/css href=&quot;/static/style.css&quot;&gt;</span>
<span class="go">&lt;/head&gt;</span>
<span class="go">&lt;body&gt;</span>
<span class="go">    &lt;div class=page&gt;</span>
<span class="go">      &lt;h1&gt;Flaskr&lt;/h1&gt;</span>

<span class="go">        &lt;div class=flash&gt;New entry was successfully posted&lt;/div&gt;</span>

<span class="go">      &lt;form action=&quot;/add&quot; method=post class=add-entry&gt;</span>
<span class="go">        &lt;dl&gt;</span>
<span class="go">          &lt;dt&gt;Title:</span>
<span class="go">          &lt;dd&gt;&lt;input type=text size=30 name=title&gt;</span>
<span class="go">          &lt;dt&gt;Text:</span>
<span class="go">          &lt;dd&gt;&lt;textarea name=text rows=5 cols=40&gt;&lt;/textarea&gt;</span>
<span class="go">          &lt;dd&gt;&lt;input type=submit value=Share&gt;</span>
<span class="go">        &lt;/dl&gt;</span>
<span class="go">      &lt;/form&gt;</span>
<span class="go">      &lt;ul class=entries&gt;</span>

<span class="go">        &lt;li&gt;&lt;h2&gt;test title 1&lt;/h2&gt;test text 1</span>

<span class="go">      &lt;/ul&gt;</span>
<span class="go">    &lt;/div&gt;</span>
<span class="go">&lt;/body&gt;</span>
<span class="go">&lt;/html&gt;</span>
</pre></div>
</div>
</div>
<div class="section" id="py-test">
<h3>py.test のインストール<a class="headerlink" href="#py-test" title="Permalink to this headline">¶</a></h3>
<p>Python の標準ライブラリにも unittest モジュールがありますが、より簡単にテストを書ける
<cite>pytest</cite> を使いましょう。</p>
<div class="highlight-python"><pre>$ pip install pytest</pre>
</div>
</div>
<div class="section" id="id12">
<h3>テストを書く<a class="headerlink" href="#id12" title="Permalink to this headline">¶</a></h3>
<p>py.test は、 <cite>*_test</cite> や <cite>test_*</cite> という名前のモジュールを検索して、その中の
<cite>test_*</cite> という名前の関数や <cite>Test*</cite> といった名前のクラスを検索し実行します。</p>
<p>py.test を使う場合、 <cite>assertEqual</cite> などの assert メソッドを利用しなくても、
python の <cite>assert</cite> 文を使うだけで十分です。
たくさんのメソッドを覚える必要が無いので楽ちんです。</p>
<p>先ほどインタラクティブシェルで試したログを見ながらテストを書いていきます。</p>
<p>flaskr/tests/test_actions.py
(<a class="reference external" href="src/flaskr/flaskr/tests/test_actions.py">ダウンロード</a>):</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21</pre></div></td><td class="code"><div class="highlight"><pre><span class="kn">import</span> <span class="nn">flaskr</span>
<span class="kn">from</span> <span class="nn">flaskr</span> <span class="kn">import</span> <span class="n">app</span>
<span class="kn">from</span> <span class="nn">flaskr.models</span> <span class="kn">import</span> <span class="n">Entry</span>

<span class="k">def</span> <span class="nf">setup_module</span><span class="p">():</span>
    <span class="n">flaskr</span><span class="o">.</span><span class="n">db</span><span class="o">.</span><span class="n">drop_all</span><span class="p">()</span>
    <span class="n">flaskr</span><span class="o">.</span><span class="n">models</span><span class="o">.</span><span class="n">init</span><span class="p">()</span>

<span class="k">def</span> <span class="nf">test_post_entry</span><span class="p">():</span>
    <span class="n">client</span> <span class="o">=</span> <span class="n">app</span><span class="o">.</span><span class="n">test_client</span><span class="p">()</span>
    <span class="n">response</span> <span class="o">=</span> <span class="n">client</span><span class="o">.</span><span class="n">post</span><span class="p">(</span><span class="s">&#39;/add&#39;</span><span class="p">,</span>
                           <span class="n">data</span><span class="o">=</span><span class="p">{</span><span class="s">&#39;title&#39;</span><span class="p">:</span> <span class="s">&#39;test title 1&#39;</span><span class="p">,</span> <span class="s">&#39;text&#39;</span><span class="p">:</span> <span class="s">&#39;test text 1&#39;</span><span class="p">},</span>
                           <span class="n">follow_redirects</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
    <span class="k">assert</span> <span class="n">response</span><span class="o">.</span><span class="n">status_code</span> <span class="o">==</span> <span class="mi">200</span>
    <span class="k">assert</span> <span class="s">&quot;test title 1&quot;</span> <span class="ow">in</span> <span class="n">response</span><span class="o">.</span><span class="n">data</span>
    <span class="k">assert</span> <span class="s">&quot;test text 1&quot;</span> <span class="ow">in</span> <span class="n">response</span><span class="o">.</span><span class="n">data</span>
    <span class="k">with</span> <span class="n">app</span><span class="o">.</span><span class="n">test_request_context</span><span class="p">():</span>
        <span class="k">assert</span> <span class="n">Entry</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">count</span><span class="p">()</span> <span class="o">==</span> <span class="mi">1</span>
        <span class="n">entry</span> <span class="o">=</span> <span class="n">Entry</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span>
        <span class="n">entry</span><span class="o">.</span><span class="n">title</span> <span class="o">=</span> <span class="s">&#39;test title 1&#39;</span>
        <span class="n">entry</span><span class="o">.</span><span class="n">text</span> <span class="o">=</span> <span class="s">&#39;test text 1&#39;</span>
</pre></div>
</td></tr></table></div>
</div>
<div class="section" id="id14">
<h3>実行する<a class="headerlink" href="#id14" title="Permalink to this headline">¶</a></h3>
<p><cite>py.test</cite> を実行すると、テストファイルを見つけた場所でテストを実行するので、
<cite>import flaskr</cite> が失敗してしまいます。
プロジェクトのトップディレクトリを検索パスに追加するために <span class="target" id="index-0"></span><tt class="xref std std-envvar docutils literal"><span class="pre">PYTHONPATH</span></tt>
を使いましょう。</p>
<div class="highlight-python"><pre>$ PYTHONPATH=. py.test
================================== test session starts ===================================
platform darwin -- Python 2.7.3 -- pytest-2.3.4
collected 1 items

flaskr/tests/test_actions.py .

================================ 1 passed in 0.20 seconds ================================</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>PYTHONPATH 以外の方法</p>
<p><cite>setup.py</cite> というファイルを書いて、一般的なインストールできるパッケージの形にすると、
<cite>python setup.py develop</cite> で Python の検索パスに現在のディレクトリを追加します。</p>
<p>また、 <cite>py.test &#8211;genscript=runtests.py</cite> でテストを実行するスクリプトを生成し、
その先頭で次のように検索パスを追加しても良いでしょう。</p>
<div class="last highlight-python"><div class="highlight"><pre><span class="kn">import</span> <span class="nn">sys</span><span class="o">,</span> <span class="nn">os</span>
<span class="n">sys</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">insert</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">__file__</span><span class="p">))</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="idd">
<h3>IDD<a class="headerlink" href="#idd" title="Permalink to this headline">¶</a></h3>
<p>モデルやアクションを書く前にテストを書くTDDをするためには、まずモデルやレスポンスオブジェクトのAPIを覚えないといけません。</p>
<p>初心者のうちは、インタラクティブシェルで触ってみて、コードを書いて、インタラクティブシェルで動作を確認して、
その結果をテストにするというインタラクティブシェル駆動開発を行えば、APIを覚えながら開発ができます。</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">flaskr</a><ul>
<li><a class="reference internal" href="#step-0">Step 0: 準備</a><ul>
<li><a class="reference internal" href="#id1">インストール</a></li>
<li><a class="reference internal" href="#id2">ディレクトリ構成</a><ul>
<li><a class="reference internal" href="#run-py">run.py</a></li>
<li><a class="reference internal" href="#flaskr-init-py">flaskr/__init__.py</a></li>
<li><a class="reference internal" href="#flaskr-config-py">flaskr/config.py</a></li>
<li><a class="reference internal" href="#id6">その他</a></li>
</ul>
</li>
</ul>
</li>
<li><a class="reference internal" href="#step-1-model">Step 1: model</a></li>
<li><a class="reference internal" href="#step-2-view">Step 2: view</a></li>
<li><a class="reference internal" href="#step-3-css">Step 3: テンプレートとCSSを用意する</a></li>
<li><a class="reference internal" href="#step-4">Step 4: テスト</a><ul>
<li><a class="reference internal" href="#id11">インタラクティブシェル</a></li>
<li><a class="reference internal" href="#py-test">py.test のインストール</a></li>
<li><a class="reference internal" href="#id12">テストを書く</a></li>
<li><a class="reference internal" href="#id14">実行する</a></li>
<li><a class="reference internal" href="#idd">IDD</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="start.html"
                        title="previous chapter">Flask を始めよう</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="advanced.html"
                        title="next chapter">Flask を使いこなそう</a></p>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="advanced.html" title="Flask を使いこなそう"
             >next</a> |</li>
        <li class="right" >
          <a href="start.html" title="Flask を始めよう"
             >previous</a> |</li>
        <li><a href="index.html">Flask Handson 1 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2013, INADA Naoki.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>